body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background:#6482AD;
    color:#fff;
}
.game {
    display:flex;
    flex-direction:column;
    height:100vh;
    width:100vw; 
    justify-content:center;
    align-item:center;
}
 .title{
    position:absolute;
    top:-35px;
    left:300px;
    font-size:4rem;
    /* z-index: 2; */
 }
 .score{
    display:flex;
    width:30vw;
    justify-content:space-evenly;
    position:relative;
    left:500px;
    margin-top:80px;

}
.move{
    font-size:2rem;
    margin:20px auto;
}
.move-left{
    margin-left:650px;
}

.p-count,.c-count{
    font-size:1.2rem;
}
.buttonselect{
    display:flex;
    margin-top:2rem;
    justify-content:space-evenly;
}
.rock,.paper,.scissor{
    padding:10px;
    border-radius:8px;
    background-color:#4F959D;
    cursor:pointer;
    font-size:1.3rem;
    border-color:#4F959D;
}

.result{
    margin:20px auto;
    font-size:2rem;
}

.restart{
    display:none;
    margin:20px auto;
    font-size:1.2rem;
    padding:10px;
    width:80px;
    border-radius:9px;
    background:teal;;


}