*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#f03a02, #555);
    height: 100vh;
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
    /* width: 100vw; */
}

.container{
display: flex;
flex-direction: column;
background-color: rgb(255, 255, 255);
padding: 30px;
width: 300px;
height: 300px;
align-items: center;
border-radius: 12px;
row-gap: 20px;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.circular-progress{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    background: conic-gradient(#f03a02 3.6deg, #fcfbfb 0deg);
    width: 160px;
    height: 160px;
    margin: auto;
    padding: 50px 0;
    border: 1px solid black;
    border-radius: 50%;
}

    .circular-progress::before{
        content:"";
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #7f7e83;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.progress-value {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 1;
    transition: color 0.3s ease;
}

.text{
    font-size: 1.2rem;
    font-weight: bold;
}

.button-group {
    display: flex;
    gap: 10px;
}


#start-btn {
    /* padding: 10px 20px; */
    background-color: #f03a02;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    transition: background 0.3s ease;
    /* margin-bottom: 30px; */
}
  
#start-btn:hover {
    background-color: #d93000;
}

#reset-btn {
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    transition: background 0.3s ease;
}

#reset-btn:hover {
    background-color: #333;
}

  